@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Playfair+Display:ital@1&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ======================================

font-family: 'Dongle', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Space Mono', monospace;
Global Variable

==========================================*/
:root{
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Dark-grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Light-grayish-cyan: hsl(189, 41%, 97%);
    --bg-button: hsl(183, 78%, 23%);
    --White: hsl(0, 0%, 100%);
    --bg: #C5E4E7;
   

    --Font-size-form-inputs: 24px;
    --Weights-700: 700;
    --Weights-500: 500;
    --Weights-400: 400;
    --font-size: 27px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--Dark-grayish-cyan);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--Very-dark-cyan);
    border-radius: 10px;
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder{
    color: var(--Dark-grayish-cyan);
}

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}

body{
    background-color: var(--bg);
    width: 100%;
    height: 100vh;
    font-family: 'Space Mono', monospace;
}

header{
    margin: 10%;
    width: 100%;
}
header img{
    margin-left: 30%;
}
.container{
    width: 100%;
    background-color: var(--White);
    margin-bottom: 10%;
    
}
.row{
    display: flex;
    flex-direction: column;
}
.col-one{
    display: flex;
    flex-direction: column;
    margin: 7%;
    gap: 1rem;
}
input[type="number"]{
    width: 100%;
    padding: 10px;
    border: 2px transparent solid ;
    background-color: var(--Light-grayish-cyan);
    outline: none;
    text-align: end;
    font-size: 17px;
    border-radius: 5px;
    font-family: "Space Mono", monospace;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 700;

}

input[type="number"]:focus{
    border: 2px solid var(--Strong-cyan);
}

.input{
    position: relative;
}
.input .icon{
    position: absolute;
    left: 2%;
    top: 32%;
    width: 14px;
}

.tip-btn{
    display: grid;
    grid-template-columns: 115px 115px 115px;
    gap:  0.9rem 0.9rem;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    color: var(--White);
    font-family: 'Space Mono', monospace;
}
.btnpercent{
    background-color: var(--Very-dark-cyan);
    padding: 10px 45px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    font-weight: var(--Weights-400);
    color: #fff;
    border: none;
    align-self: center;
    cursor: pointer;

}
.number-error{
    display: flex;
    justify-content: space-between;
}

.col-two{
    background-color: var(--Very-dark-cyan);
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
}

.tip-amount-div{
    margin: 10%;
    display: flex;
    justify-content: space-between;
}
.tip-total-div{
    margin: 10%;
    display: flex;
    justify-content: space-between;
}

.active{
    background-color: var(--Strong-cyan);
}

.tip-btn .custom{
    background-color: var(--Light-grayish-cyan);
    border-radius: 5px;
    text-align: center;
    font-size: 18px;


}
.error{
    color: red;
    display: none;
}
.tip-amount-div label{
    color: rgb(226, 225, 225);

}
.tip-amount-div p{
    color: #3D787C;
}
.tip-total-div label{
    color: #fff;
    font-weight: 500; 
    
}
.tip-amount-div h1{
    color: var(--Strong-cyan);
    
}
.tip-total-div h1{
    color: var(--Strong-cyan);
    /* margin-right: 3%; */
    
}
.tip-total-div p{
    color: #3D787C;
    
}
.reset{
    padding: 10px;
    width: 80%;
    margin-left: 10%;
    font-size: 19px;
    text-transform: uppercase;
    background-color: var(--bg-button);
    border: none;
    border-radius: 5px;
    margin-bottom: 5%;
    color: var(--Very-dark-cyan);
    font-weight: 700;
    cursor: none;
}
.reset-active{
    background-color: var(--Strong-cyan);
    cursor: pointer;
    color: #09706A;
    font-size: 24px;
 }


 @media(min-width:0) and (max-width: 400px){
    .tip-btn{
        display: grid;
        grid-template-columns: 125px 125px ;
        

    }
 }

 @media(min-width: 401px) and (max-width: 490px){
    .tip-btn{
        display: grid;
        grid-template-columns: 105px 105px 105px;

    }
 }

 @media(min-width:500px){
     .container{
         width: 100%;
         border-radius: 10px;
     }
    .tip-btn{
        display: grid;
        grid-template-columns: 115px 115px 115px;

    }
 }

 @media(min-width:748px){
    .tip-btn{
        display: grid;
        grid-template-columns: 130px 130px 130px;
        /* margin-left: 10%; */
        gap: 2rem 3.5rem;

    }
 }

 @media(min-width: 612px){
    .tip-btn{
        gap:  1rem 2.5rem;

    }
 }
 @media(min-width:706px){
     .container{
         margin-bottom: 0%;
     }
     header{
         margin-left: 20%;
     }
    .tip-btn{
        gap:  1rem 3.5rem;

    }
 }
 @media(min-width:720px){
    header{
        margin-left: 12%;
    }
 }
 @media(min-width:729px){
    
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .col-one{
        width:48%;
        margin-left: 3%;
    }
    .tip-btn{
       display: grid;
       grid-template-columns: 90px 90px 90px;
       gap:  0.8rem 0.2rem;

   }
    .col-two{
        width: 45%;
   
    }

    .reset{
        margin-top: 50%;
    }
  
}

@media(min-width:730px){
    header{
        margin-left: 13%;
    }
    .container{
        width: 95%;
        margin-left: 2%;
    }
    .tip-btn{
        display: grid;
        grid-template-columns: 80px 80px 80px;
        gap:  0.8rem 1.3rem;
        margin-left: 0%;
 
    }
}

@media(min-width:748px){
    .tip-btn{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        /* margin-left: 10%; */
        gap: 2rem 0.3rem;

    }
    .col-two{
        padding: 2.5rem;
    }
 }

 @media(min-width:890px){
     .container{
         width:85%;
         margin-left: 7%;
     }
     .col-two{
        padding: 2.5rem;
    }
 }
 @media(min-width:984px){
    .tip-btn{
        display: grid;
        grid-template-columns: 115px 115px 115px;
        /* margin-left: 10%; */
        gap: 2rem 0.3rem;

    }
    .col-two{
        padding: 2.5rem;
    }
 }
 @media(min-width:110px){
    .tip-btn{
        display: grid;
        grid-template-columns: 115px 115px 115px;
        /* margin-left: 10%; */
        gap: 2rem 1rem;

    }
    .col-two{
        padding: 2.5rem;
    }
 }


 @media(min-width:1100px){
    .tip-btn{
        display: grid;
        grid-template-columns: 115px 115px 115px;
        /* margin-left: 10%; */
        gap: 2rem 1rem;

    }
    .col-two{
        padding: 2.5rem;
    }
 }

 
 @media(min-width:1200px){
    .tip-btn{
        display: grid;
        grid-template-columns: 120px 120px 120px;
        /* margin-left: 10%; */
        gap: 2rem 2.5rem;

    }
    .col-two{
        padding: 2.5rem;
    }
 }


  
 @media(min-width: 1326px){
    header{
        margin: 3%;
        width: 100%;
    }
    header img{
        margin-left: 45%;
    }
    .container{
        width: 80%;
        margin-left: 10%;
        margin-bottom: 5%;
    }
    .tip-btn{
        display: grid;
        grid-template-columns: 125px 125px 125px;
        /* margin-left: 10%; */
        gap: 2rem 2.5rem;

    }
    .col-two{
        padding: 2.5rem;
    }
 }